.table table tbody tr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.table table,
.table table tbody{
    width: 100%;
    height: 100%;
}

.table table tbody tr td{
height: 100% !important;
width: 100%;
}

.table table tbody tr td .image{
    height: 100% !important;
    width: 100%;
}

td .image img{
   aspect-ratio: 1/1 !important; 
    width: 100% !important;
    height: 100% !important; 
    object-fit: cover !important;
}

.prose .image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.ck-content ul {
    list-style-type: disc !important;
    padding-left: 40px !important;
    margin-bottom: 10px !important;
}

.ck-content ol {
    list-style-type: decimal !important;
    padding-left: 40px !important;
    margin-bottom: 10px !important;
}

.ck-content li {
    display: list-item !important;
}

/* .ck-content{
    padding: 20px;
} */    


/* Product Overview

Take your workout and running experience to the next level with our ultra-lightweight performance sports shoes. Engineered for the modern athlete, these sneakers provide the perfect balance of elite comfort, durability, and sleek aesthetics. Whether you are hitting the gym, training for a marathon, or looking for premium everyday comfort, these shoes are built to move with you.



Key Features



Breathable Tech-Mesh Upper: Crafted with high-grade mesh fabric that ensures maximum airflow to keep your feet cool and dry during intense activities.

Responsive Cloud-Cushioning: Features advanced foam technology in the midsole that absorbs impact and provides high energy return, protecting your knees and heels.

Anti-Skid Traction Outsole: The heavy-duty rubber outsole provides superior grip on all surfaces—from gym floors to rugged outdoor tracks—minimizing the risk of slips.

Feather-Light Design: Optimized for speed and agility, the lightweight construction reduces foot fatigue so you can go further and faster.

Ergonomic Fit: Designed to follow the natural contour of your foot, offering a snug yet flexible fit that supports your ankles during quick lateral movements.



Why Choose These Shoes?



Durability: Built with reinforced stitching to withstand heavy daily use and rough terrain.

Versatility: A modern design that transitions effortlessly from your morning run to a casual coffee date.

Superior Comfort: Memory foam insoles provide a customized feel that lasts all day long. */