.table table tbody tr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.table table,
.table table tbody{
    width: 100%;
    height: 100%;
}

.table table tbody tr td{
height: 100% !important;
width: 100%;
}

.table table tbody tr td .image{
    height: 100% !important;
    width: 100%;
}

td .image img{
   aspect-ratio: 1/1 !important; 
    width: 100% !important;
    height: 100% !important; 
    object-fit: cover !important;
}

.prose .image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.ck-content ul {
    list-style-type: disc !important;
    padding-left: 40px !important;
    margin-bottom: 10px !important;
}

.ck-content ol {
    list-style-type: decimal !important;
    padding-left: 40px !important;
    margin-bottom: 10px !important;
}

.ck-content li {
    display: list-item !important;
}
