@import "tailwindcss";

.product-html-content {
  white-space: pre-wrap; 
  padding: 20px;
}

.product-html-content b, .product-html-content strong {
  font-weight: bold;
}

.product-html-content i, .product-html-content em {
  font-style: italic;
}

.product-html-content ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.product-html-content ol {
  margin-left: 1.5rem;
  list-style-type: decimal !important;
}
